.sidebar {
    width: 250px;
    background-color: #1e1e2f;
    color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url('./images/backgroundImg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: #fff;
}

.sidebar a.active {
    color: #4fc3f7;
    font-weight: bold;
}

/* Hide sidebar on small screens */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}